body { background-color: black;
}
h1{background-color: white;width: 350px; height: 25px; font-family: Verdana; font-size: 18px;padding: 25px; margin: auto;}

h2{ background-color: a00000; color: white; word-spacing: 50px;}

p{ color:white; float: right; width: 300px; padding:40px;
}